Part 1: PYTHON SYNTAX

In [8]:
def format_string(name,age):
    name= "juma"
    age= 20
    return f"My name is {name} and i am {age} years old"
    
formatted_string =format_string("juma",20)
print(formatted_string)

My name is juma and i am 20 years old

In [10]:
def conditional_check(number):
    if number > 10:
        return "Greater"
    elif number < 10:
        return "lesser"
    else:
        return "equal"

result=conditional_check(9)
print(result)

lesser

In [6]:
def loop_sum(n):
    total=0
    for i in range(1,n +1):
        total +=i
    return total

n=5
print(f"the sum of numbers from 1 to {n} is {loop_sum(n)}")

the sum of numbers from 1 to 5 is 15

Part 2: DATA STRUCTURE

In [4]:
def list_operations(numbers):
     
    total= sum(numbers)
    maximum= max(numbers)
    minimum= min(numbers)
    return(total,maximum,minimum)

numbers = [2,3,4,5,6,7,8,8,9,0]
result =list_operations(numbers)
print(result)

(52, 9, 0)

In [9]:
def dict_operations(students_dict):
    return {name for name,score in students_dict.items() if score >80}
students_dict={
        "juma":20,
        "Ashraf":80,
        "Ramadhani":90,
        "Rashid":85,
        "Zulfa":95,
        "Abdul":93,
    }

result=dict_operations(students_dict)
print(f"student with scores above 80 is {result}")

student with scores above 80 is {'Rashid', 'Abdul', 'Ramadhani', 'Zulfa'}

In [12]:
def set_operations(list1,list2):
    return set(list1).intersection(list2)

list1=[2,3,5,6,5,8,9,0,0,6,1]
list2=[3,3,6,2,8,0,1,7,7,12,]
result=set_operations(list1,list2)
print(f"common elements are {result}")

common elements are {0, 1, 2, 3, 6, 8}

Part3: OPERATORS

In [26]:
def arithmetic_ops(a, b):
    results = {
        "sum": a + b,
        "difference": a - b,
        "product": a * b,
        "quotient": a / b if b != 0 else "undefined (division by zero)"
    }
    return results


a = 5.5
b = 3.2
results = arithmetic_ops(a, b)
for operation, result in results.items():
    print(f"{operation.capitalize()}: {result}")

Sum: 8.7
Difference: 2.3
Product: 17.6
Quotient: 1.71875

In [29]:
def logical_ops(x, y):
    results = {
        "AND": x and y,
        "OR": x or y,
        "NOT x": not x,
        "NOT y": not y,
        "XOR": x ^ y
    }
    return results


x = True
y = False
results = logical_ops(x, y)
for ops, result in results.items():
    print(f"{ops}: {result}")

AND: False
OR: True
NOT x: False
NOT y: True
XOR: True

In [32]:
def bitwise_ops(a, b):
    results = {
        "AND": a & b,
        "OR": a | b,
        "XOR": a ^ b,
        "NOT a": ~a,
        "NOT b": ~b,
        "a left shift": a << 1,
        "b left shift": b << 1,
        "a right shift": a >> 1,
        "b right shift": b >> 1
    }
    return results


a = 12
b = 5
results = bitwise_ops(a, b)
for ops, result in results.items():
    print(f"{ops}: {result}")

AND: 4
OR: 13
XOR: 9
NOT a: -13
NOT b: -6
a left shift: 24
b left shift: 10
a right shift: 6
b right shift: 2